# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.sourcemaps
!**/*.conf.js
**/*.js.map
**/*.css.map
!src/service-worker.js
!scripts/*.js

.idea/
node_modules/
www/
$RECYCLE.BIN/

**/*.backup

.editorconfig

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.scannerwork

dist/**
core/dist/**
**/dist/**
